.summary {
    color: #010101; /*black*/
    border-left: 5px solid #ffce00; /*yellow*/
    font-size:16px;
}

/*yellow*/
h3 {color: #ffce00; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #e71837; /*red*/
    color: red;
}

.nav > li.active > a {
    background-color: #32127a; /*dark purple*/
}

.nav > li > a:hover { /*light gray*/
    background-color: #71787d;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #ffce00; /*yellow*/
}

.nav li.thirdlevel > a {
    background-color: #fafafa !important;
    color: #248EC2; /*blue*/
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345; /*green*/
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #32127a; /*dark purple*/
    border-color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white; 
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #000000; /*white, new change*/
}

a.navbar-brand:hover {
  color: #000000; /*white, is not hover font*/
}


/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff; white, is not hover font*/ 

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #7730e4;
    color: #ffffff;  /*white*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #fc9303; /*orange*/
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #000000; /*white, not hover font*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #cd5b45; /*coral*/
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #87d3f8; /*cyan*/
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:120%;
    color: #604cdb; /*ACT purple*/
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}
